<div class="container">
  <div class="row">

    <div class="col-xs-3 dashboard-container"> 
    <h1 id="dash1" align="center"> <%= number_to_currency(current_user.merchant_amount) %></h1>
    <h4 class="dashsub" align="center"> Current Cash Balance </h4>
    <a href="/setting" class="dashboard-button"><button class="btn btn-primary btn-large btn-maxwidth">Adjust Balance</button></a>
    
    </div>  


    <div class="col-xs-3 dashboard-container"> 
    <h1 id="dash2" align="center"> <%= number_to_currency(@pendingsum) %> </h1>
    <h4  class="dashsub" align="center"> <%= @pending.count %> Total Pending Requests </h4>
     <a href="/requests" class="dashboard-button"><button class=" btn btn-primary btn-large btn-maxwidth">Manage Requests</button></a>
    </div> 

    <div class="col-xs-3 dashboard-container"> 
    <h1 id="dash3" align="center"><%= @todaycomplete %> </h1>
    <h4  class="dashsub" align="center"> Today Completed Orders </h4>
    <a href="/transaction" class="dashboard-button"><button class="btn btn-primary btn-large btn-maxwidth">Check Transaction</button></a>
    </div> 
 
    <div class="col-xs-3 dashboard-container"> 
    <h1 id="dash4" align="center"> <%= number_to_currency(@completedsum) %></h1>
    <h4 class="dashsub" align="center"> Total Received </h4>
    <a href="/cashbalance" class="dashboard-button"><button class="btn btn-primary btn-large btn-maxwidth">Check History</button></a>
    </div> 

  </div>

  <div class="row padding80">     
  <h3 align="center"> Completed Transaction Value</h3> <br>

    <div class="row chart-container"><img id="chart" class="contain" src="http://i.imgur.com/gNgJCRa.png"></div>  
  </div>

</div>  




<!-- old format <div class="container>
<div class="row" align="center"> <h2> Today's Summary </h2></div>
<br>
	<div class="row" align="center">
  <table>
  <tr>
  <td>
  <h3> Current Cash Balance
	<br> <%= current_user.merchant_amount %> </h3></td>
  <td>
  <h3> Current Requests
  <br> <%= Transaction.where(status: "pending").count %> </h3></td>
  </tr>
  <tr>
  <td>
  <h3> Completed Transaction
  <br> <%= Transaction.where(status: "completed").count %> </h3></td>
  <td>
  <h3>Cancelled Transaction
  <br> <%= Transaction.where(status: "cancelled").count %> </h3></td>
  </tr>
    </table>

	</div>
</div> -->

