<div id="request-table" class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1 id="request-text1">Requests</h1>
      <h4 id="request-text2">Cash Pickup Requests</h4>
    </div>
        <div class="col-xs-6">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
  </div>

<br>
<br> 
<div class="row">
    <div class="col-xs-12">
      <table class="maxwidth">
        <tr id="table-header">
          <th id="alignleft">Reference Number</th>
          <th>Requestor</th>
          <th id="alignleft">Amount (SGD)</th>
          <th id="alignleft"></th>
        </tr>

        <% @transactions.each do |transaction| %>
          <tr id="table-row">
            <td id="alignleft"><span id="tr1"><%= transaction.reference %></span> <br>
                <span id="tr2"><%= transaction.created_at %></span>  </td>
            <td id="alignleft"> 
              <div class="col-xs-1 col-xs-offset-3"> <%= image_tag(transaction.traveller.photo.to_s, size: "51x51", :class=> "img-circular") %></div>
              <div class="col-xs-1 col-xs-offset-1"><span id="tr3"><%= transaction.traveller.firstname %></span> <span id="tr4"><%= transaction.traveller.email %></span>  </div>
            </td>
            <td id="alignleft"> <p id="tr5"><%= number_to_currency(transaction.amount) %> </p> </td>
            <td id="alignleft"> 
            <button class="btn btn-success btn-large">
            <%= link_to 'Complete', complete_request_path(id: transaction.id), method: :patch , :class => 'reqcomplete'%> </button>  

            <button class="btn btn-trans btn-large">
            <%= link_to 'Cancel', cancel_request_path(id: transaction.id), method: :patch, :class => 'reqcancel' %> </button> 
            </td>
           
          </tr>
        <% end %>
      </table>    
    </div>
  </div>
</div>
</div>

<!-- add render model -->
</div>