<div class="container">
  
  <div class="row">
    <div class="col-xs-12">
      <h1>Requests</h1>
      <h3>Cash Pickup Requests</h3>
    </div>

    <div class="col-xs-12">
      <table>
        <tr>
          <th>Reference Number</th>
          <th>Requestor</th>
          <th>Amount (SGD)</th>
        </tr>

        <% @transactions.each do |transaction| %>
          <tr>
            <td> <%= transaction.reference %> </td>
            <td> 
              <%= image_tag(transaction.traveller.photo.to_s) %>
              <%= transaction.traveller.firstname %> 
            </td>
            <td> <%= transaction.amount %> </td>
            <td> <%= link_to 'Complete', edit_request_path(id: transaction.id), remote: true %> </td>
          </tr>
        <% end %>
      </table>    
    </div>
  </div>

<!-- add render model -->
</div>