<div class="container">
<div class="row" align="center"> <h2> Past Transactions </h2></div>

	<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12" align="center">

	<table>
		<tr>
			<th>Reference</th>
			<th>Amount Requested<br>(SGD)</th>
			<th>Fees Earned<br>(SGD)</th>
			<th>Total Receivables<br>(SGD)</th>
			<th>Status</th>
		</tr>
		<tr>
		<% @completedtransaction.each do |transactions| %>
			<td><%= transactions.reference %> <br> <%= transactions.updated_at %></td>
			<td><h3><%= transactions.amount %></h3></td>
			<td><h3><%= transactions.fee %></h3></td>
			<td><h3><%= transactions.total4trans %> </h3> </td>
			<td><%= transactions.status %> <br> <%= transactions.updated_at %></td>
		</tr>
		<% end %>
	</table>	
	</div>
	</div>
	</div>



#### DISPLAY TRANSACTION FEES IF AMOUNT == VALUE SHOW FEES EARNED 

# $ 10 = 0, 20 = 0.50, 30 = 1, 40 = 1.5, 50 = 2 ....