<!DOCTYPE html>
<html>
  <head>
    <title>Peerex3</title>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <a class="navbar-brand" href="/"><img src="http://i.imgur.com/u6MZk1D.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
      <form class="navbar-form navbar-left">
      
      <ul class="nav navbar-nav">
      <li><a href="/dashboard">Home</a></li>  
      <li><a href="/requests">Requests</a></li>
      <li><a href="/transaction">Transactions</a></li>
      <li><a href="/cashbalance">Cash Balance</a></li>
      <li><a href="/setting">Settings</a></li>
      <li><button type="button" id="adjust" class="btn btn-default btn-lg">Adjust Balance</button></li>

      </ul>
      </form>

    </div>
    </nav>

  </head>

  <body>
    <%= yield %> 
  </body>

  <div class="container">
  <div class="row">
  <hr>
    <div class="col-xs-6">
      <p class="muted pull-right">© 2016 Peerex. All rights reserved</p>
      </div>
      <div class="col-xs-6">
      <a href="#">Privacy Policy</a> | <a href="#">Contact Us</a>  
      </div>
  </div>
</div>

</html>

 <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>

  <!-- Include jQuery Popup Overlay -->
  <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>

  <script>
    $(document).ready(function() {

      // Initialize the plugin
      $('#complete').popup();
      $('#cancel').popup();


    });
  </script>