<!DOCTYPE html>
<html>
  <head>
    <title>Peerex</title>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <a class="navbar-brand" href="/"><img src="http://i.imgur.com/u6MZk1D.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
      <form class="navbar-form navbar-left">
      
      <ul class="nav navbar-nav">
      <li class="navbutton"><a href="/dashboard">Home</a></li>
      <li class="navbutton"><a href="/requests">Requests</a></li>
      <li class="navbutton"><a href="/transaction">Transactions</a></li>
      <li class="navbutton"><a href="/cashbalance">Cash Balance</a></li>
      <li class="navbutton"><a href="/setting">Settings</a></li>

      </ul>
      </form>

       <form class="navbar-form navbar-right">
       <ul class="nav navbar-nav">
        <li ><button type="button" class="buttonheader"><p id="headerbuttontext">Adjust Balance</p></button></li>
      </ul>
      </form>
    </div>
    </nav>
  </head>

  <body>
    <%= yield %> 
  </body>


<div id="footer">
<div id="footerimg">
  <div class="container">
  <div class="row">
    <div class="col-xs-6 padding80">
      <p id="footer-text-1">© 2016 Peerex. All rights reserved</p>
      </div>
      <div class="col-xs-6 padding80">
      <span id="footer-text-2"><a href="#">Privacy Policy</a> | <a href="#">Contact Us</a></span>  
      </div>
  </div>
  </div>
</div>
</div>
</html>

 <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>

  <!-- Include jQuery Popup Overlay -->
  <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>

  <!-- google font montserrat -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">


  <script>
    $(document).ready(function() {

      // Initialize the plugin
      $('#complete').popup();
      $('#cancel').popup();


    });
  </script>