<!DOCTYPE html>
<html>
  <head>
    <title>Peerex3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<nav class="navbar navbar-default">
<div align="center"> <%= link_to image_tag("http://i.imgur.com/fnuxGKh.png",:size => "32x42",:class => "peerex_logo"), root_path %> </div>
     <div class="container">
       <div class="navbar-brand">
         <a href="/dashboard">Dashboard</a>
         <a href="/requests">Requests</a>
         <a href="/transaction">Transactions</a>
         <a href="/cashbalance">Cash Balance</a>
         <a href="/setting">Settings</a>
        <a href="users/logout">Logout</a>
        </div>
        </div>
</nav>

  </head>

  <body>
    <%= yield %> 
  </body>

  

</html>

 <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>

  <!-- Include jQuery Popup Overlay -->
  <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>

  <script>
    $(document).ready(function() {

      // Initialize the plugin
      $('#complete').popup();
      $('#cancel').popup();


    });
  </script>